.raiting{
    width:336px;
    height:340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    border-radius: 14px;


}
.raitingIcon{
    display: flex;
    align-items: center;
    gap:5px;
}